<%
require 'yaml'
APP       = "blogarchive"
URL       = ENV.fetch('URL', "blog.epfl.ch")
AUTHOR    = `whoami`.chomp
TEAM      = "idev-fsd"
VERSION   = `git tag`.lines.map{|l| l.chomp}.grep(/^v[0-9]/).last || `git log --pretty=format:'%h' -n 1`
IMGVERSION= ENV.fetch('IMGVERSION', '1.0')
IMAGE     = ENV.fetch('IMAGE', "quay-its.epfl.ch/svc0041/#{APP}:#{IMGVERSION}")
DATE      = `date +"%F %H:%M"`.chomp
NAMESPACE = `oc project -q`.chomp
SECRETS   = YAML.load(File.read("#{ENV.fetch('KEYBASE', '/keybase')}/team/epfl_blogwiki/blog_openshift.yml"))
CERTSPATH = "#{ENV.fetch('KEYBASE', '/keybase')}/team/epfl_idevfsd/certs/oc.jkldsa.com"
ISPROD    = true
REPO      = `git remote get-url origin`.chomp.gsub(':', '/').gsub('git@', 'https://')
PVNAME = "svc0041p-blog-data-pv"
%>